@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary--color: #00D0FF;
    --dark--color: #232323;
    --light--color: #ffffff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark--color);
    font-family: "Roboto", sans-serif;
}

/* Area de botões */
.hero {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero img {
    width: 15rem;
}

.ul_links {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

.ul_links a {
    border-bottom: .3rem solid #00D0FF;
    border-radius: .3rem;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}

.ul_links a:hover {
    background-color: #232323;
    outline: .2rem solid #00D0FF;
    transition: .4s;
}

/* Container geral */
.container {
    width: 80%;
    margin: auto;
}

/* Div de Boas Vindas */
.div_boasVindas {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--light--color);
    margin: 2rem auto;
}

.div_boasVindas h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    background: linear-gradient(90deg, #00D0FF, #307bbd);
    border-radius: 2rem;
    padding: 2rem;
    width: max-content;
    margin: auto;
}

.div_boasVindas p {
    font-size: 1.5rem;
}

/* wrapperContainer com a imagem de Login */
.wrapperContainer {
    background-color: #98ecff;
    border-radius: .5rem;
    padding: 2rem;
    border: .3rem solid black;
    margin-bottom: 15rem;
}

.section_sobre {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
}

.div_app img {
        border-radius: 3rem;
}

.div_sobre h2 {
    border-bottom: .2rem solid black;
    padding-bottom: 2rem;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.div_sobre p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* wrapperContainer com as Funcionalidades */

.section_function {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    background-color: #232323;
}